# Mobile App for Lottery Addiction

In this project, we have developed a mobile app with developers that is meant to help lottery addicts better estimate their chances of winning. The engineers would build the app, but they needed us to create the logical core of the app and calculate probabilities.

In [6]:
# Created func for factorial.
def factorial(n):
    fact = 1
    if n == 0:
        print("The factorial of 0 is 1")
    elif  n < 0:
        print("Sorry, factorial does not exist for negative numbers")
    elif  n > 0:
        for i in range(1, n+1):
            fact *= i
    return fact        

factorial(5)

120

In [4]:
# Created func for combinations.
def combinations(n,k):
    numerator= factorial(n)
    denominator= factorial(n-k) * factorial(k)    
    return numerator/denominator

In [7]:
combinations(49,6)

13983816.0

In [14]:
# The user inputs six different numbers from 1 to 49.

def one_ticket_probability(input_list): 
    possible_outcomes= combinations(49,6)
    probability= 1/possible_outcomes # The user inputs just one combination, which means the number of successful outcomes is 1.
    percentages= probability*100
    print('Your chances to win the big prize with the numbers {0} are {1:.8f}%.'.format(input_list,percentages))

We have created a function called one_ticket_probability that would help users to understand their chances of winning big prize with a single ticket.

In [15]:
test_1= one_ticket_probability([13, 22, 4, 27, 42, 4])

Your chances to win the big prize with the numbers [13, 22, 4, 27, 42, 4] are 0.00000715%.

In [16]:
test_2= one_ticket_probability([2, 45, 42, 13, 11, 5])

Your chances to win the big prize with the numbers [2, 45, 42, 13, 11, 5] are 0.00000715%.

Users should be able to compare their ticket against the historical lottery data and determine whether they would have ever won by now. So will be using the historical data coming from the Canada 6/49 lottery.

In [17]:
import pandas as pd
lottery= pd.read_csv('649.csv')
lottery.describe()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
count,3665.0,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000
mean,649.0,1819.494952,0.030832,7.327694,14.568076,21.890859,28.978445,36.162619,43.099045,24.599454
std,0.0,1039.239544,0.237984,5.811669,7.556939,8.170073,8.069724,7.190960,5.506424,14.360038
min,649.0,1.000000,0.000000,1.000000,2.000000,3.000000,4.000000,11.000000,13.000000,0.000000
25%,649.0,917.000000,0.000000,3.000000,9.000000,16.000000,23.000000,31.000000,40.000000,12.000000
50%,649.0,1833.000000,0.000000,6.000000,14.000000,22.000000,30.000000,37.000000,45.000000,25.000000
75%,649.0,2749.000000,0.000000,10.000000,20.000000,28.000000,35.000000,42.000000,47.000000,37.000000
max,649.0,3591.000000,3.000000,38.000000,43.000000,45.000000,47.000000,48.000000,49.000000,49.000000

In [18]:
lottery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.0+ KB

In [19]:
lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [20]:
lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [21]:
def extract_numbers(input_row):
    row= input_row[-7:-1]
    return set(row)

In [22]:
extract_numbers([2, 45, 42, 13, 11, 5,55])

{2, 5, 11, 13, 42, 45}

In [24]:
historical_list= lottery.apply(extract_numbers, axis=1)
historical_list[:5] # Set containing all the six winning numbers.

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [25]:
def check_historical_occurence(input_one, input_two):
    input_one= set(input_one)
    bool_list= (input_one==input_two)
    occurrence= bool_list.sum()
    
    if occurrence == 0:
        print('The combination {0} has never occurred.'.format(input_one))
    elif occurrence == 1:
        print('The combination {0} occurred {1} time.'.format(input_one, occurrence))
    else:
        print('The combination {0} occurred {1} times.'.format(input_one, occurrence))

We wrote a function called check_historical_occurence that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

In [26]:
input_1= [33, 36, 37, 39, 8, 41]
check_historical_occurence(input_1, historical_list)

The combination {33, 36, 37, 39, 8, 41} occurred 1 time.

In [27]:
input_1= [33, 36, 37, 4, 8, 1]
check_historical_occurence(input_1, historical_list)

The combination {33, 1, 36, 37, 4, 8} has never occurred.

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning.
So for this we wrote a function called multi_ticket_probability that will allow the users to calculate their chances of winning for any number of different tickets.

In [28]:
def multi_ticket_probability(user_input):
    possible_outcomes= combinations(49,6)
    successful_outcomes= user_input
    probability= successful_outcomes/possible_outcomes
    percentages= probability*100
    if user_input == 1:
        print('Your chances to win the big prize with one ticket is {1:.7f}%.'.format(user_input,percentages))
        
    else:
        print('Your chances to win the big prize with {0} tickets are {1:.7f}%.'.format(user_input,percentages))

In [29]:
multi_ticket_probability(1)

Your chances to win the big prize with one ticket is 0.0000072%.

In [30]:
multi_ticket_probability(5)

Your chances to win the big prize with 5 tickets are 0.0000358%.

In [31]:
test= [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for i in test: 
    ans= multi_ticket_probability(i)

Your chances to win the big prize with one ticket is 0.0000072%.
Your chances to win the big prize with 10 tickets are 0.0000715%.
Your chances to win the big prize with 100 tickets are 0.0007151%.
Your chances to win the big prize with 10000 tickets are 0.0715112%.
Your chances to win the big prize with 1000000 tickets are 7.1511238%.
Your chances to win the big prize with 6991908 tickets are 50.0000000%.
Your chances to win the big prize with 13983816 tickets are 100.0000000%.

In most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. The users might be interested in knowing the probability of having two, three, four, or five winning numbers, so we wrote a function called probability_less_6 that will allow the users to calculate this.

In [32]:
def probability_less_6(n):
    tickets= combinations(6, n)
    combinations_remaining= combinations(43, 6-n)
    successful_outcomes= tickets*combinations_remaining
    possible_outcomes= combinations(49,6)
    probability= successful_outcomes/possible_outcomes
    percentages= probability*100
    print('Your chances of having {} winning numbers with this ticket are {:.6f}%.'.format(n,percentages))

In [33]:
for i in [2, 3, 4, 5]:
    probability_less_6(i)

Your chances of having 2 winning numbers with this ticket are 13.237803%.
Your chances of having 3 winning numbers with this ticket are 1.765040%.
Your chances of having 4 winning numbers with this ticket are 0.096862%.
Your chances of having 5 winning numbers with this ticket are 0.001845%.