In this project, we'll work on two datasets Department of Education, Training and Employment (DETE) and the Technical and Further Education (TAFE) institute in Queensland, Australia. We'll play the role of Data Analyst and try to answers below mentioned concerns raised by stakeholders:
1. Employees who has worked in the institutes for a short period of time resigning due to some kind of dissatisfaction. Give comments for employees who have been there longer.
2. Younger employees are resigning due to some kind of dissatisfaction. Give comments for older employees.

Below is a preview of a couple columns we'll work with from the dete_survey.csv:
- <font color=RED>ID</font>: An id used to identify the participant of the survey
- <font color=RED>SeparationType</font>: The reason why the person's employment ended
- <font color=RED>Cease Date</font>: The year or month the person's employment ended
- <font color=RED>DETE Start Date</font>: The year the person began employment with the DETE


Below is a preview of a couple columns we'll work with from the tafe_survey.csv:

- <font color=RED>Record ID</font>: An id used to identify the participant of the survey
- <font color=RED>Reason for ceasing employment</font>: The reason why the person's employment ended
- <font color=RED>LengthofServiceOverall. Overall Length of Service at Institute (in years)</font>: The length of the person's employment (in years)

In [5]:
import numpy as np
import pandas as pd

In [6]:
dete_survey= pd.read_csv('dete_survey.csv')
tafe_survey= pd.read_csv('tafe_survey.csv')

In [7]:
dete_survey.info()
dete_survey.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             822 non-null object
DETE Start Date                        822 non-null object
Role Start Date                        822 non-null object
Position                               817 non-null object
Classification                         455 non-null object
Region                                 822 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [8]:
--tafe_survey.info()
tafe_survey.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
Record ID                                                                                                                                                        702 non-null float64
Institute                                                                                                                                                        702 non-null object
WorkArea                                                                                                                                                         702 non-null object
CESSATION YEAR                                                                                                                                                   695 non-null float64
Reason for ceasing employment                                                                                                                                    701 non-null object
Contributing Factors. Career Move - Public Sector                                                                                                                437 non-null object
Contributing Factors. Career Move - Private Sector                                                                                                               437 non-null object
Contributing Factors. Career Move - Self-employment                                                                                                              437 non-null object
Contributing Factors. Ill Health                                                                                                                                 437 non-null object
Contributing Factors. Maternity/Family                                                                                                                           437 non-null object
Contributing Factors. Dissatisfaction                                                                                                                            437 non-null object
Contributing Factors. Job Dissatisfaction                                                                                                                        437 non-null object
Contributing Factors. Interpersonal Conflict                                                                                                                     437 non-null object
Contributing Factors. Study                                                                                                                                      437 non-null object
Contributing Factors. Travel                                                                                                                                     437 non-null object
Contributing Factors. Other                                                                                                                                      437 non-null object
Contributing Factors. NONE                                                                                                                                       437 non-null object
Main Factor. Which of these was the main factor for leaving?                                                                                                     113 non-null object
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                           608 non-null object
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                       613 non-null object
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                             610 non-null object
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                              608 non-null object
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                  615 non-null object
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                    607 non-null object
InstituteViews. Topic:7. Management was generally supportive of me                                                                                               614 non-null object
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                          608 non-null object
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                            610 non-null object
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                         602 non-null object
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                   601 non-null object
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                               597 non-null object
InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                                601 non-null object
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                  609 non-null object
WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                        605 non-null object
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                  607 non-null object
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                          610 non-null object
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                    613 non-null object
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                     609 non-null object
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                 609 non-null object
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]    608 non-null object
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                              608 non-null object
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                      611 non-null object
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                      610 non-null object
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                          611 non-null object
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                      606 non-null object
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                         610 non-null object
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date    609 non-null object
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                               603 non-null object
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                           606 non-null object
Induction. Did you undertake Workplace Induction?                                                                                                                619 non-null object
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    432 non-null object
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    483 non-null object
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          440 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        555 non-null object
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   555 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       530 non-null object
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   553 non-null object
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   555 non-null object
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  555 non-null object
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         555 non-null object
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                        608 non-null object
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      594 non-null object
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   587 non-null object
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       586 non-null object
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     581 non-null object
Gender. What is your Gender?                                                                                                                                     596 non-null object
CurrentAge. Current Age                                                                                                                                          596 non-null object
Employment Type. Employment Type                                                                                                                                 596 non-null object
Classification. Classification                                                                                                                                   596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                        596 non-null object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB

TypeError: bad operand type for unary -: 'NoneType'

In [ ]:
tafe_survey.isnull().sum()
dete_survey.isnull().sum()


<font color=BLUE>dete_survey</font> and <font color=BLUE>tafe_survey</font>  datasets contain 56 and 72 columns resp, we should select only those columns which are needed for our analysis. Many columns contain missing values, for this we have to follow certain stategy.
1. Check for errors in data.
2. Use data from additional sources to fill missing data.
3. Drop row/column if not required.
4. Fill missing values with Imputation technique.

In [ ]:
dete_survey= pd.read_csv('dete_survey.csv', na_values='Not Stated')

In [ ]:
dete_survey.head()

In [ ]:
dete_survey_updated= dete_survey.drop(dete_survey.columns[28:49], axis=1)

In [ ]:
tafe_survey_updated= tafe_survey.drop(tafe_survey.columns[17:66], axis=1)

In [ ]:
tafe_survey_updated.head()

The <font color=BLUE>dete_survey</font> dataframe contains <font color=BLUE>'Not Stated'</font> values that indicate values are missing, but they aren't represented as <font color=BLUE>NaN</font>. So to resolve this issue we'll use <font color=BLUE>pd.read_csv()</font> method and set <font color=BLUE>na_values</font> parameter to <font color=BLUE> Not Stated</font> and will assign the result to the variable name <font color=blue>dete_survey</font>.


As <font color=BLUE>dete_survey</font> and <font color=BLUE>tafe_survey</font>  datasets contain 56 and 72 columns resp, and many of them we aren't required for our analysis so it's better to drop them.
For this we have used <font color=BLUE>DataFrame.drop()</font> method and assigned the result to variables <font color=BLUE>tafe_survey_updated</font> and <font color=BLUE>dete_survey_updated</font>.

In [ ]:
dete_survey_updated.columns= dete_survey_updated.columns.str.lower().str.replace(' ','_').str.strip()

In [ ]:
dete_survey_updated.columns

In [ ]:
tafe_survey_updated.rename({'Record ID': 'id', 'CESSATION YEAR': 'cease_date', 'Reason for ceasing employment': 'separationtype', 'Gender. What is your Gender?': 'gender', 'CurrentAge. Current Age': 'age', 'Employment Type. Employment Type': 'employment_status', 'Classification. Classification': 'position', 'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service', 'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'}, axis=1,inplace=True)

In [ ]:
tafe_survey_updated.columns

In [ ]:
dete_survey_updated.head()

In [ ]:
tafe_survey_updated.head()

Each dataframe contains many of the same columns, but the column names are different. As we needed them in our analysis and eventually wanted to combine them, so we had to standardize the column names.
To update <font color=blue>dete_survey_updated</font> and <font color=blue>tafe_survey_updated</font> dataframes
We have used the <font color=blue>DataFrame.columns</font> attribute along with vectorized string methods such as <font color=blue>DataFrame.rename()</font> and <font color=blue>DataFrame.replace()</font> to update all of the columns at once.

In [ ]:
dete_survey_updated['separationtype'].value_counts()

In [ ]:
tafe_survey_updated['separationtype'].value_counts()

In [ ]:

pattern= r"(Resignation)"

dete_survey_updated['separationtype']= dete_survey_updated['separationtype'].str.extract(pattern)

tafe_survey_updated['separationtype']= tafe_survey_updated['separationtype'].str.extract(pattern)

In [ ]:
dete_resignations= dete_survey_updated[dete_survey_updated['separationtype']=='Resignation'].copy()

tafe_resignations= tafe_survey_updated[tafe_survey_updated['separationtype']=='Resignation'].copy()

In [ ]:
dete_resignations['separationtype'].value_counts()

In [ ]:
tafe_resignations['separationtype'].value_counts()

Each of thr dataframe contains <font color=blue>separationtype</font> column. We are only interested to analyze employees who resigned, so their separation type contains the string <font color=blue>'Resignation'</font>.

Incase of <font color=blue>dete_survey_updated</font> dataframe contains multiple separation types with the string <font color=blue>'Resignation'</font>:
- Resignation-Other reasons
- Resignation-Other employer
- Resignation-Move overseas/interstate 

To achieve this we have used <font color=blue>Series.str.extract()</font> method on <font color=blue>separationtype</font> column along with <font color=blue>Df.copy()</font> method on the result by which whatever operations we are doing is trying to be set on a copy of a slice from a dataframe

In [ ]:
dete_resignations['cease_date'].value_counts()

In [ ]:
pattern_date= r"([0-9]{2})?/?([1-2][0-9]{3})"

dete_resignations['cease_date']= dete_resignations['cease_date'].str.split('/').str[-1]

In [ ]:
dete_resignations['cease_date']= dete_resignations['cease_date'].astype(float)

In [ ]:
dete_resignations['cease_date'].value_counts().sort_index(ascending=False)

In [ ]:
tafe_resignations['cease_date'].value_counts().sort_index(ascending=False)

In [ ]:
dete_resignations['dete_start_date'].value_counts().sort_index(ascending=False)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
fig,ax= plt.subplots()

dete_resignations.boxplot(column=['dete_start_date','cease_date'])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
fig,ax= plt.subplots()

tafe_resignations.boxplot(column=['cease_date'])

The <font color=blue>tafe_resignations</font> dataframe contains two cease dates in 2009, but the <font color=blue>dete_resignations</font> dataframe doesn't have that year.
The <font color=blue>tafe_resignations</font> dataframe cease dates in 2010 are more than that of the <font color=blue>dete_resignations</font> dataframe.

In [ ]:
dete_resignations['institute_service']= dete_resignations['cease_date']-dete_resignations['dete_start_date']

In [ ]:
dete_resignations['institute_service'].head()

As our end goal is to answer the following question:
- Employees who has worked in the institutes for a short period of time resigning due to some kind of dissatisfaction. Give comments for employees who have been there longer. 

To answer this we wanted a column that describes total year of experience. <font color= blue>
tafe_resignations</font> dataframe already contains 'service' column, which we renamed to <font color= blue>
institute_service</font> column. In order to analyze both the dataframes, we have created <font color= blue>
institute_service</font> column in <font color= blue>
dete_resignations</font> by subtracting <font color= blue>
dete_start_date </font>column from <font color= blue>cease_date</font>
column

In [ ]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].value_counts()

In [ ]:
# for tafe_resignations column

def update_vals(element):
    if pd.isnull(element):
        return np.nan
    elif element == '-':
        return False
    else:
        return True
    
dis_tafe= ['Contributing Factors. Dissatisfaction','Contributing Factors. Job Dissatisfaction']

In [ ]:
tafe_resignations['dissatisfied']= tafe_resignations[dis_tafe].applymap(update_vals).any(axis=1, skipna=False)

In [ ]:
tafe_resignations['dissatisfied'].value_counts()

In [ ]:
tafe_resignations_up= tafe_resignations.copy()

In [ ]:
# dete_resignations column
dis_dete=['job_dissatisfaction','dissatisfaction_with_the_department','physical_work_environment','lack_of_recognition','work_location','employment_conditions','work_life_balance','workload','lack_of_job_security']
dete_resignations['dissatisfied']= dete_resignations[dis_dete].any(axis=1, skipna=False)

In [ ]:
dete_resignations_up= dete_resignations.copy()

In [ ]:
dete_resignations_up['dissatisfied'].value_counts()

To identify any emploees who resigned because they were disstasfied, we used above columns factors to create new column 'dissatisfied' in both dataframes by using <font color=blue>Dataframe.any()</font> method. We have created  <font color=blue> update_vals</font> function that would convert <font color=blue>'Contributing Factors. Dissatisfaction'</font> and <font color=blue>'Contributing Factors. Job Dissatisfaction'</font> columns in the <font color=blue> tafe_resignations</font> columns to <font color=blue>True</font>, <font color=blue>False</font>, <font color=blue>NaN</font> values.

In [ ]:
dete_resignations_up['institute']='DETE'

In [ ]:
tafe_resignations_up['institute']='TAFE'

In [ ]:
combined= pd.concat([tafe_resignations_up,dete_resignations_up],axis=0)

In [ ]:
# combined information
combined.info()

In [ ]:
combined_updated= combined.dropna(thresh=500,axis=1)

In [ ]:
# combined_updated information
combined_updated.info()

After cleaning column names, dropping unneccessary data from both the dataframes, finally they are ready to combine.
We have combined them with the help of <font color=blue>pd.concat</font> method but before that added <font color=blue>institute</font> column to differentiate these dataframes.
For <font color=blue>dete_resignations_up</font> value is 'DETE' and <font color=blue>tafe_resignations_up</font> is 'TAFE'. Post combining and analysing the resultant dataframe <font color=blue>combined</font>, we confirmed that many of the columns we don't need for our analysis so we dropped them by using <font color=blue>DataFrame.dropna()</font> method and assigned the result to variable <font color=blue>combined_updated</font>.

In [ ]:
combined_updated['institute_service']

In [ ]:
combined_updated['institute_service']= combined_updated['institute_service'].astype(str)

In [ ]:
combined_updated['institute_service'].value_counts()

In [ ]:
x= r"([0-9][0-9]?)"
combined_updated['institute_service']= combined_updated['institute_service'].str.extract(x).astype(float)

In [ ]:
combined_updated['institute_service'].value_counts()

In [ ]:
def career_map(element):
    if pd.isnull(element):
        return np.nan
    elif element<3:
        return 'New'
    elif (element>=3 and element <=6):
        return 'Experienced'
    elif (element>=7 and element <=10):
        return 'Established'
    elif element > 11:
        return 'Veteran'

In [9]:
combined_updated['service_cat']= combined_updated['institute_service'].apply(career_map)

NameError: name 'combined_updated' is not defined

In [ ]:
# combined_updated['service_cat'] values checking
combined_updated['service_cat'].head()

We have cleaned <font color=blue>institute_service</font> column using vectorized string methods as this column would help us to achieve our final goal, so extracted years from each row. Later created a function called <font color=blue>career_map</font> which would help to categorize service years into different categories, finally have used this function with <font color=blue>Series.apply()</font> method to the <font color=blue>institute_service</font> column and assigned the result to a new column named <font color=blue>service_cat</font>.

In [ ]:
combined_updated['dissatisfied'].value_counts(dropna=False)

In [ ]:
combined_updated['dissatisfied'].fillna(False, inplace=True)

In [ ]:
combined_updated['dissatisfied'].value_counts(dropna=False)

In [ ]:
%matplotlib inline
combined_updated.pivot_table('dissatisfied','service_cat').plot(kind='bar', legend=False)

From this analysis above, bwe can conclude that 'Veteran' category employees are more likely to resign due to some kind of dissatisfaction with the job than employees with less than 7 years of service.